{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<hr>
    <h2 class="text-center">Trolley</h2>
    <hr>
    <div class="row">
        <div class="col-10 offset-1">
            {% if items_in_trolley %}
            <!-- <div class="container"> -->
            <div class="table-responsive">
             <!-- Table displaying items in user's trolley -->
            <table class="table">
                <!-- Row for table headers -->
                <tr>
                    <th scope="col"><strong>Item</strong></th>
                    <th scope="col"></th>
                    <th scope="col"><strong>Quantity</strong></th>
                    <th scope="col"><strong>Price</strong></th>
                </tr>
                <!-- Row for item display -->
                {% for item in items_in_trolley %}
                 <!-- Need to add for statement to iterate through trolley products once add to trolley view is complete -->
                <tr>
                    <!-- First data cell contains product image and name -->
                    <td>
                            <div class="">
                                {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="img-fluid trolley-image">
                                {% elif item.product.image_url %}
                                <img src="{{ item.product.image_url }}" alt="{{ product.name }}" class="img-fluid card-img-top">
                                {% else %}
                                <img src="/media/default-image.jpg" alt="{{ product.name }}" class="img-fluid card-img-top">
                                {% endif %}
                            </div>
                    </td>
                    <td class="py-3">
                        <p class=""><strong>{{ item.product.name }}</strong></p>
                        {% if item.product.has_sizes %}
                            <p>Size: {{ item.size }}</p>
                        {% elif item.product.is_footwear %}
                            <p>Size: {{ item.shoesize }}</p>
                        {% endif %}
                    </td>
                    <!-- 2nd cell contains current quantity -->
                    <td class="py-3 w-25">
                        <input type="number" class="form-control quantity-input" name="product-quantity" value="{{ item.quantity }}" min="1"
                            max="99" readonly>
                    </td>
                    <!-- 3rd cell contains item price -->
                    <td class="py-3">
                        <p>£{{ item.product.price }}</p>
                    </td>
                    <td>
                        <a href="#removeItemModal-{{ item.product.id }}" class="btn" data-bs-toggle="modal">
                            Remove Item From Trolley
                        </a>
                    </td>
                </tr>
                {% endfor %}
                
            </table>
            </div>
            {% else %}
            <div class="text-center">
            <p class="">No Items In Trolley</p>
            <a href="{% url 'home' %}" class="btn-lg btn border border-black">Back</a>
            </div>
            {% endif %}
            <div class="my-2">
                <em>Delivery charge is 10%</em>
            </div>
            <p><strong>Total: £{{ total_cost | floatformat:2 }}</strong></p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'view_checkout' %}" class="btn custom-button">Checkout</a>
    </div>
    {% for item in items_in_trolley %}
    <div class="modal fade" id="removeItemModal-{{ item.product.id }}" tabindex="-1" aria-labelledby="removeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>You are about to remove {{ item.product.name }} from your trolley</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                    <form action="{% url 'remove_item' item.product.id %}" method="POST" class="form delete-form">
                        {% csrf_token %}
                        <button type="submit" class="btn">Yes, Remove Item</button>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">No, Go Back!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}