{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <h1>Trolley</h1>

    <div class="row">
        <div class="col">
            <!-- Need to add if statement for if there are products in trolley when add to trolley view is complete -->
            {% if items_in_trolley %}
             <!-- Table displaying items in user's trolley -->
            <table>
                <!-- Row for table headers -->
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <!-- Row for item display -->
                {% for item in items_in_trolley %}
                 <!-- Need to add for statement to iterate through trolley products once add to trolley view is complete -->
                <tr>
                    <!-- First data cell contains product image and name -->
                    <td>
                        {{ item.product.image }} <p>{{ item.product.name }}</p>
                    </td>
                    <!-- 2nd cell contains current quantity and the option to increase or decrease it -->
                    <td>
                        <form action="{% url 'add_to_trolley' item.product.id %}" method="POST" class="form update-form">
                            {% csrf_token %}
                            <input type="hidden" name="return-url" value="{% url 'show_trolley' %}">
                            <input type="number" class="form-control quantity-input" name="product-quantity"
                                value="{{ item.quantity }}" min="1" max="99">
                            {% if item.product.is_personalised %}
                            <span>Enter Name: (Min: 2 - Max: 14 Characters)</span>
                            <input type="text" class="form-control personalisation-input" name="product-personalisation-input" value="" minlength="2" maxlength="14">
                            {% endif %}
                        </form>
                    </td>
                    <!-- 3rd cell contains item price -->
                    <td>
                        <p>{{ item.product.price }}</p>
                    </td>
                    <td>
                        <a href="#removeItemModal-{{ item.product.id }}" class="btn" data-bs-toggle="modal">
                            Remove Item From Trolley
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No Items In Trolley</p>
            <a href="{% url 'home' %}" class="btn-lg">Back</a>
            {% endif %}
            <p><strong>Total: £{{ total_cost }}</strong></p>
        </div>
    </div>

    <a href="{% url 'view_checkout' %}">Checkout</a>

    {% for item in items_in_trolley %}
    <div class="modal fade" id="removeItemModal-{{ item.product.id }}" tabindex="-1" aria-labelledby="removeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>You are about to remove {{ item.product.name }} from your trolley</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                    <form action="{% url 'remove_item' item.product.id %}" method="POST" class="form delete-form">
                        {% csrf_token %}
                        <button type="submit" class="btn">Yes, Remove Item</button>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">No, Go Back!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}