{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <h1>Trolley</h1>

    <div class="row">
        <div class="col">
            <!-- Need to add if statement for if there are products in trolley when add to trolley view is complete -->
            {% if items_in_trolley %}
             <!-- Table displaying items in user's trolley -->
            <table>
                <!-- Row for table headers -->
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <!-- Row for item display -->
                {% for item in items_in_trolley %}
                 <!-- Need to add for statement to iterate through trolley products once add to trolley view is complete -->
                <tr>
                    <!-- First data cell contains product image and name -->
                    <td>
                        {{ item.product.image }} <p>{{ item.product.name }}</p>
                    </td>
                    <!-- 2nd cell contains current quantity and the option to increase or decrease it -->
                    <td>
                        <form action="{% url 'add_to_trolley' item.product.id %}" method="POST" class="form update-form">
                            {% csrf_token %}
                            <input type="number" class="form-control quantity-input" name="product-quantity"
                                value="{{ item.quantity }}" min="1" max="99">
                            {% if item.product.is_personalised %}
                            <span>Enter Name: (Min: 2 - Max: 14 Characters)</span>
                            <input type="text" class="form-control personalisation-input" name="product-personalisation-input" value="" minlength="2" maxlength="14">
                            {% endif %}
                        </form>
                    </td>
                    <!-- 3rd cell contains item price -->
                    <td>
                        <p>{{ item.product.price }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No Items In Trolley</p>
            <a href="{% url 'home' %}" class="btn-lg">Back</a>
            {% endif %}
        </div>
    </div>

    <a href="{% url 'view_checkout' %}">Checkout</a>
{% endblock %}