{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container row my-auto justify-content-center">
    <ul class="nav nav-pills flex-column flex-sm-row content-nav text-center">
        <li class="nav-item content-nav-option">
            <a class="nav-link" href="{% url 'home' %}?category=swimwear">Swimwear</a>
        </li>
        <li class="nav-item content-nav-option">
            <a class="nav-link" href="{% url 'home' %}?category=equipment,club_branded_equipment">Equipment</a>
        </li>
        <li class="nav-item dropdown content-nav-option">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Club-Branded</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'home' %}?category=club_branded_clothing">Clothing</a></li>
                <li><a class="dropdown-item" href="{% url 'home' %}?category=club_branded_equipment">Equipment/Accessories</a></li>
            </ul>
        </li>
        <li class="nav-item content-nav-option">
            <a class="nav-link" href="{% url 'home' %}?category=swimwear,equipment,club_branded_clothing,club_branded_equipment">Reset Filters</a>
        </li>
    </ul>
</div>

<div class="container image-container">
    <div class="row">
        <div class="col my-auto">
            <h1>Welcome to the shop!<br>Scroll down or use the sort options above to begin!</h1>
        </div>
    </div>
</div>

<hr>

<div class="container products-container">
    {% include "includes/product_display.html" %}
</div>
{% endblock %}