{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<hr>
<div class="container product-container my-2">
    <h2 class="mb-2 text-center">{{ product.name }}</h2>
    <hr class="w-100">
    <div class="row border border-black">
        <!-- Image container -->
        <div class="col-l-4 col-sm-6">
            <!-- The data-reverse has to take into account that the reverse image might not be uploaded the same as the front image, hence the long if statement -->
            <div class="product-image-container container my-5">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom"
                    data-reverse="{% if product.reverse_image %}{{ product.reverse_image.url }}{% elif product.reverse_image_url %}{{ product.reverse_image_url }}{% else %}{{ product.image.url }}{% endif %}">
                {% elif product.image_url %}
                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom"
                    data-reverse="{% if product.reverse_image %}{{ product.reverse_image.url }}{% elif product.reverse_image_url %}{{ product.reverse_image_url }}{% else %}{{ product.image_url }}{% endif %}">
                {% else %}
                <img src="/media/default-image.jpg" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                {% endif %}
                </div>
        </div>
        <!-- Additional information -->
        <div class="col-l-4 col col-sm-6 align-center">
            <div class="product-info-container my-5">
            <br>
            <p class="text-center">{{ product.category.display_name }}</p>
            <br>
            <p>Subcategory(s):</p>
            {% for subcategory in product.subcategories.all %}
                <em class="text-center">{{ subcategory.name }}</em><br>
            {% endfor %}
            <br>
            <p class="mt-4">{{ product.description }}</p>
            </div>
        </div>
        <!-- User inputs for size etc -->
        <div class=" col-m-6 col-sm-12 mt-4">
            <form action="{% url 'add_to_trolley' product.id %}" method="POST" class="form">
                {% csrf_token %}
                <!-- If statement to display sizes if product has sizes -->
                {% with product.has_sizes as sizes %}
                {% if sizes %}
                <div class="col-8 offset-2">
                    <select id="product-size" name="product_size" class="form-select" aria-label="select-size">
                        <option selected>Choose Size:</option>
                        <option value="extra-small">XS</option>
                        <option value="small">S</option>
                        <option value="medium">M</option>
                        <option value="large">L</option>
                        <option value="extra-large">XL</option>
                    </select>
                </div>
                {% endif %}
                <!-- If statement for different size type if the user selects fins -->
                 <!-- Currently no code for fins to work but leaving here to use later -->
                {% with product.is_footwear as fins %}
                {% if fins %}
                <div class="col-8 offset-2">
                    <select name="shoe_size" id="shoe-size" class="form-select" aria-label="select-shoe-size">
                        <option selected>Choose Size:</option>
                        <option value="3-4">3-4</option>
                        <option value="4.5-5.5">4.5-5.5</option>
                        <option value="6-7">6-7</option>
                        <option value="7.5-8.5">7.5-8.5</option>
                        <option value="9-10">9-10</option>
                        <option value="10.5-11.5">10.5-11.5</option>
                        <option value="12-13">12-13</option>
                    </select>
                </div>
                {% endif %}
                <hr>
                <!-- Product Price -->
                <div class="col-8 offset-2 text-center mt-3">
                    <p><strong>£{{ product.price }} each</strong></p>
                </div>
                <!-- Product Quantity -->
                <div class="row mt-4">
                    <div class="col-5 offset-1">
                        <span>Select Quantity:</span>
                    </div>
                    <div class="col-5 offset--1">
                        <input type="number" class="form-control quantity-input" name="product-quantity" value="1"
                            min="1" max="99">
                    </div>
                </div>
                <!-- Add to trolley and go back buttons -->
                <div class="col-12 mt-4 text-center">
                    <!-- Go Back -->
                    <a href="{% url 'home' %}" class="btn custom-button text-danger">
                        Back To Shop
                    </a>
                    <!-- Add To Trolley -->
                    <input type="submit" class="btn custom-buttom text-success" value="Add To Trolley">
                </div>
                <!-- Hidden input to send user to Product detail page of product just added -->
                <input type="hidden" name="return-url" value="{{ request.path }}">
                {% endwith %}
                {% endwith %}
            </form>
            <hr>
        </div>
        <!-- Gives admin ability to edit and delete product from the product detail page -->
        {% if request.user.is_superuser %}
        <a href="{% url 'edit_product' product.id %}" class="btn custom-button text-info">Edit Product Details</a>
        <a href="#deleteProductModal-{{ product.id }}" data-bs-toggle="modal" class="btn custom-button text-warning">Delete
            Product</a>
        {% endif %}
    </div>
</div>

<!-- Delete product modal -->
<div class="modal fade" id="deleteProductModal-{{ product.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Product</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{ product.name }} from the database?</p>
                <hr>
                <div>
                    <a href="{% url 'delete_product' product.id %}" class="btn custom-button">Yes, Delete product</a>
                    <button type="button" class="ms-auto" data-bs-dismiss="modal" class="btn">No, Go Back!</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Custom javascript to show the reverse image on click -->
{% block extra_js %}
{{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.product-image-container img').click(function () {
                let mainImage = $(this);
                let frontSrc = mainImage.attr('src');
                let reverseSrc = mainImage.data('reverse');

                if (reverseSrc) {
                    mainImage.attr('src', reverseSrc);
                    mainImage.data('reverse', frontSrc);
                }
            });
        });
    </script>
{% endblock %}