{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<hr>
    <div class="row">
        <div class="col-6 offset-3 mb-4 text-center">
            <h2>Profile</h2>
        </div>
    </div>

    <div class="profile-container">
        <!-- Form for user's default information -->
        <div class="row mt-3 mb-4">
            <div class="col-6 offset-3">
                <p class="text-center"><strong>Default Delivery Info</strong></p>
                <form action="{% url 'profile' %}" method="POST" class="mt-4 text-center" id="profile-update-form">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-black" type="submit">Update Info</button>
                </form>
            </div>
        </div>
        <hr>
        <!-- User's order history -->
        <div class="row mt-3 mb-4">
            <div class="col-8 offset-2">
                <p class="text-center"><strong>Order History</strong></p>
                <div class="order-history table-responsive">
                    {% if orders %}
                    <!-- Represented in table -->
                    <table class="table table-sm text-center">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <!-- Link has title so will show whole order number when hovered over -->
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:8 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul>
                                            {% for item in order.items.all %}
                                                <strong>{{ item.product.name }}</strong><br>
                                                {% if item.regular_size %}
                                                    Size: {{ item.regular_size }}
                                                {% elif item.fin_size %}
                                                    Size: {{ item.fin_size }}    
                                                {% endif %}
                                                 x Qty:{{ item.quantity }}
                                                 <br>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.total_cost }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p class="text-center">No previous orders found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

