<br>
<h2>Products</h2>
<hr>
<div class="row">
    {% for product in products %}
    <div class="col-12 col-sm-6 col-xl-3">
        <div class="card">
            <h4 class="card-title">{{ product.name }}</h4>
            <div class="card-body">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                {% elif product.image_url %}
                    <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                {% else %}
                    <img src="/media/default-image.jpg" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                {% endif %}
                <br>
                <p>£{{ product.price }}</p>
                <div class="card-footer">
                    <a href="{% url 'product_detail' product.id %}">View Product Details</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>