<br>
<div class="text-center">
<h2>Products</h2>
</div>
<hr>
<div class="row">
    {% if products %}
    {% for product in products %}
    <div class="col-12 col-sm-6 col-xl-3 mb-4">
        <div class="card">
            <h4 class="card-title">{{ product.name }}</h4>
            <div class="card-body">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                {% elif product.image_url %}
                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                {% else %}
                <img src="/media/default-image.jpg" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                {% endif %}
                <br>
                <p>£{{ product.price }}</p>
                <div class="card-footer text-center">
                    <a href="{% url 'product_detail' product.id %}" class="btn custom-button btn-info">View Product Details</a>
                </div>
                <hr>
                <!-- Gives admin ability to edit and delete product from the product detail page -->
                {% if request.user.is_superuser %}
                <div class="text-center">
                <a href="{% url 'edit_product' product.id %}" class="btn custom-button my-1">Edit Product Details</a>
                <a href="#deleteProductModal-{{ product.id }}" data-bs-toggle="modal" class="btn custom-button my-1">Delete
                    Product</a>
                </div>
                {% endif %}
            </div>
            <!-- Delete Product modal -->
            <div class="modal fade" id="deleteProductModal-{{ product.id }}" tabindex="-1"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h3>Delete Product</h3>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete {{ product.name }} from the database?</p>
                            <hr>
                            <div class="text-center">
                                <a href="{% url 'delete_product' product.id %}" class="btn custom-button">Yes, Delete
                                    product</a>
                                <button type="button" class="" data-bs-dismiss="modal" class="ms-auto">No, Go
                                    Back!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No Products in database</p>
    {% endif %}
</div>