{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2 offset-5 mb-4">
            <h1>Checkout</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
        </div>

        <!-- Summary of items about to be bought -->
        {% for item in items_in_trolley %}
            <div class="row">
                <!-- Image of items in summary -->
                <div class="col-2 offset-1 mb-1">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                        {% elif item.product.image_url %}
                            <img src="{{ item.product.image_url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                        {% else %}
                            <img src="/media/default-image.jpg" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                        {% endif %}
                    </a>
                </div>
                <!-- information about the items in the summary -->
                <div class="col-5">
                    <p class="my-0">{{ item.product.name }}</p>
                    <p class="my-0 small">Size: {% if item.product.has_sizes %}{{ item.size }}{% elif item.product.is_footwear %}{{ item.shoesize }}{% else %}No size{% endif %}</p>
                    <p class="my-0 small">Quantity: {{ item.quantity }}</p>
                </div>
                <!-- Summary subtotal -->
                <div class="col-2 text-right">
                    <p class="my-0 small text-muted">
                        £{{ item.product.price }}
                    </p>
                </div>
            </div>
        {% endfor %}
        <hr>
        <!-- Total order cost summary -->
        <div class="row text-right">
            <div class="col-7 offset-2">
                <p class="my-0">Order Subtotal:</p>
                <p class="my-0">Delivery Charge:</p>
                <p class="my-0">Total Cost:</p>
            </div>
            <div class="col-3">
                <p class="my-0">£{{ order_cost | floatformat:2 }}</p>
                <p class="my-0">£{{ delivery_charge | floatformat:2 }}</p>
                <p class="my-0"><strong>£{{ total_cost | floatformat:2 }}</strong></p>
            </div>
        </div>
        <hr>
        <div class="col-12 col-lg-5 offset-lg-1">
            <p class="text-center">Complete purchase below</p>
            <!-- Checkout form for user to fill in to purchase items -->
            <form action="{% url 'view_checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <!-- First fieldset contains user personal details -->
                <fieldset class="px-4 mb-4">
                    <legend class="fieldset-label px-2 w-auto">Your Details</legend>
                    <br>
                    {{ order_form.name }}
                    {{ order_form.surname }}
                    {{ order_form.email }}
                    {{ order_form.phone_number }}
                </fieldset>
                <!-- Second fieldset contains user's delivery information -->
                <fieldset class="px-3 mb-4">
                    <legend class="fieldset-label px-2 w-auto">Delivery Information</legend>
                    <br>
                    {{ order_form.address_line_one }}
                    {{ order_form.address_line_two }}
                    {{ order_form.town_or_city }}
                    {{ order_form.county }}
                    {{ order_form.postcode }}
                </fieldset>
                <!-- Third fieldset contains payment information, secured using stripe -->
                <fieldset class="px-3 align-items-center">
                    <legend class="fieldset-label px-2 w-auto">Payment Information</legend>

                    <!-- #card-payment div will be used for the Stripe payment -->
                    <div class="mb-3" id="payment-element">
                    </div>

                    <!-- This one contains errors messages -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert">
                    </div>
                </fieldset>
                <div>
                    <a href="{% url 'show_trolley' %}" class="btn-outline-black">
                        <span>
                            Review Items In Trolley
                        </span>
                    </a>
                    <button type="submit" id="submit-button" class="btn-black">
                        <span>Confirm and Pay!</span>
                    </button>
                    <p class="text-danger my-0"><span>You will be charged £{{ total_cost | floatformat:2 }}</span></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}