/* Header & Navbar
------------------------------------------------------------------------ */

.top-navbar {
    margin-bottom: 0px;
}

header .navbar {
    display: flex;
    flex-direction: column;
}

.content-nav {
    justify-content: center;
}

.content-nav-option {
    width: 20%;
}

/* Home Page
------------------------------------------------------------------------ */

.image-container {
    background: url("../images/background-images/pool-image-cropped.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
    max-width: 90%;
}


/* Footer
------------------------------------------------------------------------ */

.club-info {
    font-size: 0.8rem;
}

.copyright-info {
    font-size: 0.7rem;
    font-weight: 300;
}