/* Header
------------------------------------------------------------------------ */


/* Footer
------------------------------------------------------------------------ */

.club-info {
    font-size: 0.8rem;
}

.copyright-info {
    font-size: 0.7rem;
    font-weight: 300;
}