/* Header
------------------------------------------------------------------------ */

header .navbar {
    display: flex;
    flex-direction: column;
}

.content-nav {
    justify-content: center;
}

.content-nav-option {
    width: 28%;
}


/* Footer
------------------------------------------------------------------------ */

.club-info {
    font-size: 0.8rem;
}

.copyright-info {
    font-size: 0.7rem;
    font-weight: 300;
}