<div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="mr-auto text-success">Success!</strong>
        <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>

        {% if total_cost and not on_profile_page %}
        <p class="logo-font py-1">Trolley ({{ product_count }})</p>
        <div class="bag-notification-wrapper">
            {% for item in items_in_trolley %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                    {% elif item.product.image_url %}
                        <img src="{{ item.product.image_url }}" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                    {% else %}
                        <img src="/media/default-image.jpg" alt="{{ product.name }}" class="card-img-top card-img-bottom">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'show_trolley' %}" class="btn btn-block">
                    <span class="text-uppercase">Go To Trolley</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
</div>